<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Interview Reminder from example.com</h1>
    <p>
      Hello : <%= @email %><br/>Your interview will start soon by <%= @interview.startTime %>.
    </p>
    <p>
      Login to the site for more details, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!
      This is system generated mail please don't reply. 
    </p>
  </body>
</html>