<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to abc.com</h1>
    <p>
      Hello :<%= @user.email %> <br/>example.com welcomes you. You can now view your profile and interview schedule.
      You will receive an email before 30 mins of your interview schedule as a reminder.
      Your interview schedule is <%= @interview.startTime %> - <%= @interview.endTime %>.
    </p>
    <p>
      Login to the site for more details, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>