<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Interview Update from abc.com</h1>
    <p>
      Hello : <%= @user.email %> <br/>There is some changes in your interview schedule.
      Your new start time for interview is <%= @interview.startTime %>.
    </p>
    <p>
      Login to the site for more details, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>